# ==========================================
# MongoDB Database Configuration
# ==========================================
MONGODB_URI="mongodb://username:password@cluster.mongodb.net:27017/dbname?ssl=true&replicaSet=atlas-shard-0&authSource=admin&retryWrites=true&w=majority"
MONGODB_DB="sikkaind_db"

# ==========================================
# Wheelseye GPS Tracking API
# ==========================================
WHEELSEYE_ACCESS_TOKEN="53afc208-0981-48c7-b134-d85d2f33dc0c"

# ==========================================
# ArcGIS API Configuration
# ==========================================
ARCGIS_API_KEY="AAPTaN4IQB0d6SXoMhnFSjdN0Mg..nimdASZXhkDczJUOqOcQVbBRCSaf9MeBIiV-1AMo75n4jD20GWA2NjA73M5Me9SOgu1eRZeP3OjXLrpn9u1VuJtaXVggVUdmgRHHFmkw60pMZzFzeFjrBgLURZO5B7cADxBRl4GD35Le82lBFRe0yw-vYfhVtNfQgNUMIyiYRfrPAhEi_BIFfMyrPR1-9EZuDWnPuINh_hPkfWapi98YsyiGKhf0HLj6o-2Y9bqWs_kKYgIZ6JFTC6REAT1_dLaYsPlX"
NEXT_PUBLIC_ARCGIS_API_KEY="AAPTaN4IQB0d6SXoMhnFSjdN0Mg..nimdASZXhkDczJUOqOcQVbBRCSaf9MeBIiV-1AMo75n4jD20GWA2NjA73M5Me9SOgu1eRZeP3OjXLrpn9u1VuJtaXVggVUdmgRHHFmkw60pMZzFzeFjrBgLURZO5B7cADxBRl4GD35Le82lBFRe0yw-vYfhVtNfQgNUMIyiYRfrPAhEi_BIFfMyrPR1-9EZuDWnPuINh_hPkfWapi98YsyiGKhf0HLj6o-2Y9bqWs_kKYgIZ6JFTC6REAT1_dLaYsPlX"
