# Next.js build output
.next/
out/
build/

# Firebase build output
.firebase/
firebase-debug.log*
.runtimeconfig.json

# Local env files
.env*.local

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Project local caches
.cache/
.swc/
