
# next.js
/.next/
/out/

# production
/build

# dependencies
/node_modules
/.pnp
.pnp.js

# firebase
/.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*

# testing
/coverage

# misc
.DS_Store
*.pem

# env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
